@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome v0.1</h1>
  
</div>
<div class="text-center offset-2 col-8">
    <img src="~/images/345.jpg"  class="w-responsive" />
</div>
